<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="pBg6_5DbQjV4j0wilOMNqgD8WleO2wPC3cv1ihFJjcA" />
    <link rel="manifest" href="manifest.json">
    <title>{% if page.type and page.type == 'home' %}{{ site.title }}{% else %}{{ page.title }} &bull; {{ site.title }}{% endif %}</title>
    <link rel="icon" type="image/gif" href="{{ site.baseurl }}/favicon.ico" />
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}/" />
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
