<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="pBg6_5DbQjV4j0wilOMNqgD8WleO2wPC3cv1ihFJjcA" />
    <meta name="theme-color" content="#78458E"/>
    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}">
    {% endif %}
    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
    {% endif %}
    <link rel="apple-touch-icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/3109b0ea-e9ce-d7a8-432c-8812b5388fff.webPlatform.png">
    <link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/manifest.json">
    <title>
        {% if page.type and page.type == 'home' %}
            {{ site.title }}
        {% elsif page.layout == 'posts' %}
            {% if paginator.total_pages > 1 %}
                Page {{ paginator.page }} of {{ paginator.total_pages }} {{ page.title }} - {{ site.title }}
            {% else %}
                {{ page.title }} - {{ site.title }}
            {% endif %}
        {% else %}
            {{ page.title }} - {{ site.title }}
        {% endif %}
    </title>
    <link rel="icon" type="image/gif" href="{{ site.url }}{{ site.baseurl }}/favicon.ico" />
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}/" />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap" as="style">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap">
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" as="style" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/main.css?v1.0.1" | prepend: site.baseurl }}">
    <link href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}" rel="stylesheet">
</head>
