<section class="section  typeset">
    <h1 class="section-header__title">Posts</h1>
    <ul class="list  list--posts">
        {% for page in paginator.posts %}
        <li class="item  item--post">
            <article class="article article--post">
                <h2 class="article__title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
                {% if page.date %}
                <p class="date">{{ page.date | date: "%B %-d, %Y" }}</p>
                {% endif %}
                {% if page.description %}
                <p class="description">{{ page.description | truncatewords: 60 }}</p>
                {% endif %}
            </article>
        </li>
        {% endfor %}
    </ul>
    {% if paginator.total_pages > 1 %}
        {% include posts-pagination.html %}
    {% endif %}
</section>
