<nav role="navigation" aria-label="{{ site.data.menus.menu-criteria-title }}" class="sidebar-menu">
    <h2 aria-hidden="true">{{ site.data.menus.menu-criteria-title }}</h2>
    <ol>
        {% for item in site.data.menus.menu-criteria %}
            {% assign topic = item.url | replace: "/", "" | replace: ".html", "" | remove: "accessibility" %}
            <li>
                {% if item.url %}
                    <a href="{{- site.baseurl -}}{{ item.url }}"{% if page.navigation == topic and item.url != page.url %} aria-current="true"{% elsif item.url == page.url %} aria-current="page"{% endif %}>
                {% else %}
                    <span>
                {% endif %}
                        {{ item.title }}
                {% if item.url %}
                    </a>
                {% else %}
                    </span>
                {% endif %}
            {% if page.navigation == topic %}
                {% if item.sub %}
                <ul>
                {% endif %}
                    {% for entry in item.sub %}
                    <li><span class="fas fa-angle-right" aria-hidden="true"></span><a href="{{- site.baseurl -}}{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
                    {% endfor %}
                {% if item.sub %}
                </ul>
                {% endif %}
            {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
