<nav class="nav  nav--paginator">
    <p>
  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination  pagination--previous">
        <span class="fas fa-chevron-left" aria-hidden="true"></span>
        Newer
    </a>
  {% else %}
    <span class="pagination  pagination--previous">
        <span class="fas fa-chevron-left" aria-hidden="true"></span>
        Newer
    </span>
  {% endif %}
  <span class="pagination  pagination--counter">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination  pagination--next">
        Older
        <span class="fas fa-chevron-right" aria-hidden="true"></span>
    </a>
  {% else %}
    <span class="pagination  pagination--next">
        Older
        <span class="fas fa-chevron-right" aria-hidden="true"></span>
    </span>
  {% endif %}
    </p>
</nav>
