<ul class="menu">
{% for nav in site.data.menu %}
    {% if page.url == nav.href %}
    <li class="menu__level-1 -active">
    {% else %}
    <li class="menu__level-1">
    {% endif %}
        {% if page.url == nav.href %}
        <a href="{{ site.baseurl }}{{ nav.href }}" aria-current="page">{{ nav.title }}</a>
        {% else %}
        <a href="{{ site.baseurl }}{{ nav.href }}">{{ nav.title }}</a>
        {% endif %}
        {% if nav.sub != null %}
        <ul class="menu__sublevel-2">
            <!-- 2nd level -->
            {% for sub in nav.sub %}
            {% if page.url == sub.href %}
            <li class="menu__level-2 -active">
            {% else %}
            <li class="menu__level-2">
            {% endif %}
                {% if page.url == sub.href %}
                <a href="{{ site.baseurl }}{{ sub.href }}" aria-current="page">{{ sub.title }}</a>
                {% else %}
                <a href="{{ site.baseurl }}{{ sub.href }}">{{ sub.title }}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endfor %}
</ul>
