@charset "utf-8";

// Colors
$color-black: #000;
$color-white: #fff;

$color-1-1: #8451a1;
$color-1-2: #78458E;
$color-1-3: #2C1E35;
$color-1-4: #19121E;

$color-2: #007596;

// Typos
$typo-1: 'Lato', Arial, sans-serif;

@import
    "config/base",
    "config/layout",
    "config/menus",
    "config/home",
    "config/content"
;
