@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: $typo-1;
    color: $color-black;
    background: $color-white;
    font-size: 1.5rem;
}

a {
    color: $color-1-2;
    text-decoration: underline;
    &:hover, &:focus {
        text-decoration: none;
    }
}

ul {
    list-style: none;
}

a, button, select, input {
    &:focus {
        outline: 1px dotted $color-1-2;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

iframe {
    display: block;
    margin: 2rem 0;
}
