@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: $typo-1;
    color: $color-black;
    background: $color-white;
    font-size: 1.4rem;
}

