@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: $typo-1;
    color: $color-black;
    background: $color-white;
    font-size: 1.5rem;
}

a {
    color: $color-1-2;
    text-decoration: underline;
    &:hover, &:focus {
        text-decoration: none;
    }
}

ul {
    list-style: none;
}

a, button, select, input {
    &:focus {
        outline: 1px dotted $color-1-2;
    }
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.visually-hidden {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

iframe {
    display: block;
}

.video {
    height: 0;
    margin: 2rem 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

kbd {
    font-family: Consolas, "Lucida Console", monospace;
    display: inline;
    border-radius: 3px;
    padding: 0.4rem 0.8rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #777;
    margin: 0 2px;
    font-size: small;
    vertical-align: center;
    background: #eee;
    color: #555;
    font-variant: small-caps;
    font-weight: 600;
}

select {
    margin: 0 0.5rem;
}

.criteria {
    display: none;
}

.access-tooltip {
    position: absolute;
    background-color: #f8f8f8;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px;
    box-shadow: 2px 2px 2px #000;
    color: #000;
    font-size: 80%;
}
