

%h2  {
    font-size: 4rem;
    font-weight: 900;
    margin: 8rem 0 5rem;
    text-align: center;

    &::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 6rem;
        height: 0.3rem;
        background: $color-1-1;
        margin-top: 3rem;
    }
}

.article-header {
    margin-bottom: 5rem;

    &__title {
        @extend %h2;
    }

    &__teaser {
        color: lighten($color-black, 40%);
        font-size: 1.8rem;
        text-align: center;
    }
}

.content {

    h2, h3, h4, h5, h6 {
        font-weight: 900;
    }

    h2 {
        @extend %h2;
    }

    h3 {
        border-bottom: 0.1rem solid rgba($color-black, 0.05);
        color: $color-1-1;
        font-size: 4rem;
        margin: 5rem 0 3rem;
    }

    h4 {
        color: $color-black;
        font-size: 3.2rem;
        margin: 4.5rem 0 2.5rem;
    }

    h5 {
        color: $color-1-1;
        font-size: 2.4rem;
        margin: 4rem 0 2.2rem;
    }

    h6 {
        font-size: 2rem;
        margin: 3.8rem 0 2rem;
    }

    p {
        line-height: 2.6rem;
        margin-bottom: 2rem;
    }

    img {
        margin: 1rem 0;
    }

    ul, ol {
        margin: 0 0 2rem 3rem;
    }

    ul {
        list-style: circle;
    }
    li {
        line-height: 2.6rem;
    }

    blockquote {
        background: rgba($color-black, 0.05);
        padding: 1rem;
    }

    .highlight pre {
        padding: 1.6rem;
        margin-bottom: 3rem;
    }

    code.highlighter-rouge {
        background: $color-3-1;
        border: 0.1rem solid darken($color-3-1, 20%);
        border-radius: 0.3rem;
        padding: 0.2rem 0.4rem;
    }

    .tip, .important {
        background: $color-3-1;
        padding: 1rem 1rem 1rem 8rem;
        position: relative;

        &::before {
            color: $color-1-1;
            content: "\f0eb";
            font-family: "Font Awesome 5 Free";
            font-size: 5rem;
            font-weight: 900;
            left: 1rem;
            line-height: 1;
            position: absolute;
            top: 2.6rem;
            text-indent: 0;
            width: 6rem;
            height: 5rem;
            text-align: center;
        }
    }

    .important {

        &::before {
            content: "\f071";
        }
    }
}
