.hero {
    padding: 3rem;
    text-align: center;
    h1 {
        font-size: 4rem;
        font-weight: 900;

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 6rem;
            height: 0.3rem;
            background: $color-1-1;
            margin-top: 3rem;
        }
    }

    p {
        margin: 3rem 0 2rem;
        font-size: 2rem;
        line-height: 2.5rem;
        color: rgba($color-black, 0.55);
    }
}
