.site {
    height: 100%;
}

.site-header {
    padding: 2rem;
    display: flex;
    border-bottom: 0.1rem solid rgba($color-black, 0.05);
}

.site-name {
    font-size: 2.6rem;
    font-weight: 900;
    padding: 0 3rem;
    border-right: 0.1rem solid rgba($color-black, 0.05);
}



.container {
    display: flex;
}

.column {
    border-right: 0.1rem solid rgba($color-black, .05);
    flex: 0 0 20%;
    overflow-y: auto;
}

.page-content {
    flex: 1 1 auto;
}

.page-content__wrapper {
    margin: 0 auto;
    max-width: 80rem;
    padding: 3rem;
}

.container-404 {
    font-size: 1.4rem;
    margin: 1rem auto;
    max-width: 600px;
    text-align: center;

    h1 {
        font-size: 4rem;
        letter-spacing: -1px;
        line-height: 1;
        margin: 30px 0;
    }
}
