.menu {
    margin-left: 1rem;
    text-align: right;
    flex: 1 1 100%;

    li {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.5rem;
    }

    a {
        color: $color-black;
        display: block;
        font-weight: 700;
        padding: 1.5rem;
        text-decoration: none;
        border-bottom: 0.2rem solid transparent;
        transition: border-bottom-color ease .3s;

        &[aria-current="page"], &:hover, &:focus {
            border-bottom-color: $color-1-1;
        }
    }
}

.breadcrumb {
    border-bottom: 0.1rem solid rgba($color-black, 0.05);
    font-size: 1.4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;

    li {
        display: inline-block;
        vertical-align: middle;

        &::after {
            content: ">";
            display: inline;
            margin-left: 0.5rem;
        }

        &:last-child {
            &::after {
                content: '';
            }
        }
    }
    a {

    }
}

.sidebar-menu {
    margin: 0 0 5rem;
    padding: 2rem;
    position: fixed;
    top: 10rem;
    left: 0;

    h2 {
        font-size: 1.6rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    ul {
        list-style: disc;
        margin-left: 2rem;

        li {
            margin: 0.5rem 0;
        }
    }

    a {
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
