.menu {
    font-family: $typo-2;
    font-size: 1.6rem;

    a {
        color: $color-grey-1;
        display: block;
        text-decoration: none;
        border-right: 2px solid transparent;
        transition: border ease 0.3s, color ease 0.3s;
    }

    &, & ul {
        list-style: none;
    }
}

.menu__level-1 {
    margin: 0.3rem 0;

    &.-active > a, > a:hover, > a:focus {
        border-right-color: $color-1;
        color: $color-1;
    }
}

.menu__sublevel-2 {
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.menu__level-2 {
    margin: 0.3rem 0;

    &::before {
        content: "-";
        padding-right: 0.4rem;
        float: left;
    }

    &.-active > a, > a:hover, > a:focus {
        border-right-color: $color-1;
        color: $color-1;
    }
}

