<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{%- include head.html -%}
<body>
<div class="site">
    {%- include skip.html -%}
    {%- include header.html -%}
    <div class="container">
        <div class="column">
            {%- include criterion-menu.html -%}
        </div>
        <main class="page-content" role="main">
            <div class="page-content__wrapper">
                {%- include breadcrumb.html -%}
                <article class="content">
                    {{ content }}
                </article>
            </div>
        </main>
    </div>
    {%- include footer.html -%}
</div>
{% include js.html %}
</body>
</html>
