---
layout: default
---

<div class="container">
    {% if site.data.menus[page.nav] %}
    <button type="button" id="responsive-menu-button" class="responsive-menu-button" aria-expanded="false" aria-controls="responsive-menu"><span class="fas fa-bars" aria-hidden="true"></span>Thematics</button>
    <div class="column" id="responsive-menu">
        <div class="column-wrapper">
            {% if page.nav == 'menu-criteria' %}
                {%- include menu-criteria.html -%}
            {% elsif page.nav == 'menu-about-users' %}
                {% include menu-summary.html %}
            {% else %}
                {% include menu-sidebar.html %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    <main class="page-content" role="main" id="content">
        <div class="page-content__wrapper">
            {%- include breadcrumb.html -%}
            <article class="content">
                {{ content }}
                {% if page.title == 'Techniques' %}
                    {% include menu-sidebar.html %}
                {% endif %}
            </article>
        </div>
    </main>
</div>
