<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body>
{%- include tagmanager.html -%}
<div class="site">
    {%- include skip.html -%}
    {%- include header.html -%}
    <div class="container">
        <main class="page-content" role="main" id="content">
            <div class="page-content__wrapper">
                {%- include breadcrumb.html -%}
                <article class="content">
                    <header class="article-header">
                        <h2 class="article-header__title">{{ page.title }}</h2>
                        {% if page.teaser %}
                        <p class="article-header__teaser">{{ page.teaser }}</p>
                        {% endif %}
                    </header>
                    {{ content }}
                    <form action="?" method="post">
                        <div class="g-recaptcha" data-sitekey="6LdTea4UAAAAAFmNDNdUbAR2RHckd8vLtMRCkLP3"></div>
                        <button type="submit">Submit</button>
                    </form>
                </article>
            </div>
            {% include menu-home.html navigation=page.navigation %}
        </main>
    </div>
    {%- include footer.html -%}
</div>
{% include js.html %}
</body>
</html>
