---
layout: default
---

<div class="container -no-column">
    <main class="page-content" role="main" id="content">
        <div class="page-content__wrapper">
            {%- include breadcrumb.html -%}
            <article class="content">
                <header class="article-header">
                    <h1 class="article-header__title">{{ page.title }}</h1>
                    {% if page.teaser %}
                    <p class="article-header__teaser">{{ page.teaser }}</p>
                    {% endif %}
                </header>
                {{ content }}
            </article>
        </div>
        {% if page.title == 'Thematics' %}
            {% include menu-home.html navigation=page.navigation %}
        {% endif %}
    </main>
</div>
